a.button {
    /* 相对定位 */
    position: relative;
    left:45%;
    width: 400px;
    height: 100px;
    padding:5px 15px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 思源宋体6;
    color: #fff;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #00aeff, #ff0090, #ffe600, #00aeff);
    /* 背景渐变色大小 */
    background-size: 300%;
    z-index: 1;
}
@font-face {
    font-family: 思源宋体6;
    src: url(../font/SourceHanSerifCN-Medium-6.otf) format("opentype");
}

/*发光效果 */
a.button::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 50px;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #00aeff, #ff0090, #ffe600, #00aeff);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 元素的位置 底层或者顶层  -值表示底层 + 值表示顶层 */
    z-index: -1;
    /* 设置模糊度 显示发光效果 */
    filter: blur(20px);
}

a.button:hover {
    /* 动画 名称 时间 infinite 是无限次播放 */
    animation: sun 8s infinite;
}

a.button:hover::before {
    animation: sun 8s infinite;
}

@keyframes sun {
    100% {
        /* 背景位置 */
        background-position: -400% 0;
    }
}